public/transit_n8n.json
{
  "name": "transit_n8n",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-shipment-doc",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1168,
        -208
      ],
      "id": "bdc81efc-d5a1-4379-aba7-511b1b8f76fe",
      "name": "Webhook",
      "webhookId": "9ab138b0-af84-42d9-9af8-381c84600d6e"
    },
    {
      "parameters": {
        "url": "={{ $json.body.fileUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -912,
        -208
      ],
      "id": "a60c17fa-401a-40e9-8ecc-26e392da7204",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "bl_number",
              "description": "g"
            },
            {
              "name": "total_containers",
              "type": "number",
              "description": "ff"
            },
            {
              "name": "otal_gross_weight",
              "type": "number",
              "description": "ff"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -272,
        -160
      ],
      "id": "a79aa842-3ad6-4d84-bb1c-193d183502d2",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -224,
        160
      ],
      "id": "18c4e6f1-0053-4002-906c-79f6db85935a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "b3tsd0i20Ui57db0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "filePath": "={{ $json.body.fileUrl }}"
      },
      "type": "n8n-nodes-llamacloud.llamaParse",
      "typeVersion": 1,
      "position": [
        -608,
        -192
      ],
      "id": "fcb17d48-dc03-4d8c-92ae-130672da1ad5",
      "name": "Parse a PDF file",
      "credentials": {
        "llamaCloudApi": {
          "id": "QzrGYV2AzLw4Oaim",
          "name": "LlamaCloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "transit_shipments",
          "mode": "list",
          "cachedResultName": "transit_shipments"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isActive": false,
            "total_containers": "={{ $json.output.total_containers }}",
            "total_gross_weight": "={{ $json.output.otal_gross_weight }}",
            "bl_number": "={{ $json.output.bl_number }}",
            "containers_numbers": "={{ $json.output.total_containers }}",
            "id": "={{ $('Webhook').item.json.body.shipmentId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "arrival_date",
              "displayName": "arrival_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "shipping_company",
              "displayName": "shipping_company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "shipment_number",
              "displayName": "shipment_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "bl_number",
              "displayName": "bl_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "containers_numbers",
              "displayName": "containers_numbers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "isActive",
              "displayName": "isActive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "port_of_discharge",
              "displayName": "port_of_discharge",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "port_of_loading",
              "displayName": "port_of_loading",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sender_company_id",
              "displayName": "sender_company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total_containers",
              "displayName": "total_containers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_gross_weight",
              "displayName": "total_gross_weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        -112
      ],
      "id": "ee7123b2-c5ba-4404-8436-6f5f7fe4b511",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "rQDTMFrnnLBtP492",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "document_vectors",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -624,
        112
      ],
      "id": "6ae25330-4ce7-4901-affa-3056601010ed",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "rQDTMFrnnLBtP492",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -672,
        416
      ],
      "id": "af59d63c-5a4a-4196-b140-3ab83a9d5c2c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "b3tsd0i20Ui57db0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": "={ \"documentId\": {{ $('Webhook').item.json.body.documentId }} }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -416,
        352
      ],
      "id": "092c1ac7-e306-4a15-b336-5462265dd5d6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -144,
        480
      ],
      "id": "986e055f-35ce-4491-9e9e-a7633dec64cb",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -960,
        96
      ],
      "id": "d58dcaa1-8f8d-4eca-8aa1-4ca4e09b9c1a",
      "name": "Extract from File"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.bifasyria.com",
            "user-agent": "node",
            "content-length": "258",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "88.235.233.183",
            "cf-ipcountry": "TR",
            "cf-ray": "9da5b7874b2c7163-DUS",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "172.71.160.102",
            "x-forwarded-host": "n8n.bifasyria.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "1f99b7fe7356",
            "x-real-ip": "172.71.160.102"
          },
          "params": {},
          "query": {},
          "body": {
            "documentId": 6,
            "shipmentId": 4,
            "documentType": "PACKING_LIST",
            "fileUrl": "https://s3.kadrigroup.com/transit-documents/1773181328211_عصير_المراعي_135طن_ف_25681_-كادري.pdf",
            "fileName": "عصير المراعي 135طن ف 25681 -كادري.pdf"
          },
          "webhookUrl": "https://n8n.bifasyria.com/webhook-test/process-shipment-doc",
          "executionMode": "test"
        }
      }
    ],
    "Parse a PDF file": [
      {
        "json": {
          "id_": "b35df900-84b1-4573-add0-2df74251e6e2",
          "metadata": {},
          "excludedEmbedMetadataKeys": [],
          "excludedLlmMetadataKeys": [],
          "relationships": {},
          "text": "\nINTERNATIONAL COMPANY FOR AGRO- INDUSTRIAL PROJECTS. BEYTI\n\nBuilding 88, First Sector, 5th. Settlement, Postal Code : 11865\n\nNew Cairo - EGYPT\n\nTEL. :- + 202 2322 0491 &#x26; + 202 2322 0492\n\n# COMMERCIAL INVOICE NO. EX25681\n\n# BL No. ALY076943498 (05x40)\n\n# CONSIGNEE :\n\nBANA TRADING COMPANY\n\nAddress: SARMADA WESTERN DISTRICT 2347, IDLIB, SYRIA\n\nPHONE NUMBER: +963938081992\n\nEMAIL: KADRIGROUP2@GMAIL.COM\n\nDATE :- 28/10/2025\n\nPort of Loading :- Alexandria Port - EGYPT\n\nPort Of Discharge :- LATAKIA Port - Syria\n\nTHE GOODS ARE OF EGYPTIAN ORIGIN\n\n| DESCRIPTION OF GOODS                    | QTY OF Cartons | QTY OF PCS. | Unit Price USD | Total Amount USD |\n| --------------------------------------- | -------------- | ----------- | -------------- | ---------------- |\n| ALMARAI Flavored Milk Chocolate 200 ML  | 4,500          | 121,500     | $5.25          | $23,625.00       |\n| ALMARAI Flavored Milk Strawberry 200 ML | 13,500         | 364,500     | $5.25          | $70,875.00       |\n| ALMARAI Flavored Milk Banana 200 ML     | 4,500          | 121,500     | $5.25          | $23,625.00       |\n| Total EXW                               | 22,500         | 607,500     |                | $118,125.00      |\n\nTOTAL : ONE HUNDRED EIGHTEEN THOUSAND, ONE HUNDRED TWENTY FIVE USD\n\nTOTAL: 22,500 Cartons\n\nTOTAL PCS: 607,500 PCS.\n\nTOTAL N.W.: 121,500.00 Kgs.\n\nTOTAL G.W.: 135,000.00 Kgs.\n\n# Bank Details\n\nAccount Title: INTERNATIONAL COMPANY FOR AGRO- INDUSTRIAL PROJECTS - BEYTI\n\nBank Name: HSBC BANK EGYPT\n\nIBAN No. : EG170025005700000057005704113\n\nAddress: Shooting Club Branch\n\nSwift Code: EBBKEGCX\n\nINTERNATIONAL COMPANY FOR AGRO- INDUSTRIAL PROJECTS\n\nAlmarai\n\nAimaral Subsidiary\n\nBuilding 88 South, 70h Street - First Sector - 5th Settlement - New Cairo - Cairo - Postal Code:11865\n\nTel.: (+202)23220491- 7\n\nwww.beytiegypt.com\n\n",
          "textTemplate": "",
          "metadataSeparator": "\n",
          "type": "DOCUMENT",
          "hash": "4HQTp+xU0qTtTdmxW9hfGue7OJBRRHQrGyd9DGl9bk8="
        }
      },
      {
        "json": {
          "id_": "58ba6d4e-7dc1-4088-b73c-b79d2153df27",
          "metadata": {},
          "excludedEmbedMetadataKeys": [],
          "excludedLlmMetadataKeys": [],
          "relationships": {},
          "text": "\n\nINTERNATIONAL COMPANY FOR AGRO- INDUSTRIAL PROJECTS. BEYTI\n\nBuilding 88, First Sector, 5th. Settlement, Postal Code : 11865\n\nNew Cairo - EGYPT\n\nTEL. :- + 202 2322 0491 &#x26; + 202 2322 0492\n\n# PACKING LIST No. EX25681\n\n# CONSIGNEE :-\n\nBANA TRADING COMPANY\n\nAddress: SARMADA WESTERN DISTRICT 2347, IDLIB, SYRIA\n\nPHONENUMBER:+963938081992\n\nEMAIL: KADRIGROUP2@GMAIL.COM\n\nB/L. No.: ALY076943498\n\nContainer#: 5*40 HC CNTRs\n\nVoy.No.: MAS03W26\n\nVessel Name: TEOMAN A\n\nDATE: 28/10/2025\n\nPort of Loading :- Alexandria Port - EGYPT\n\nPort Of Discharge:- LATAKIA Port - Syria\n\nTHE GOODS ARE OF EGYPTIAN ORIGIN\n\n| Description of Goods                   | QTY OF Cartons | QTY OF PCS. | N.Weight Kgs. | G.Weight Kgs.    | Container# |\n| -------------------------------------- | -------------- | ----------- | ------------- | ---------------- | ---------- |\n| ALMARAI Flavored Milk Strawberry 200 M | 900            | 24,300      | 4,860.00      | 5,400.00         | ARKU       |\n| ALMARAI Flavored Milk Banana 200 MI    | 2,700          | 72,900      | 14,580.00     | 16,305.00        | 8592822    |\n| ALMARAI Flavored Milk Chocolate 200 MI | 900            | 24,300      | 4,860.00      | 5,400.00         | TCNU       |\n| ALMARAI Flavored Milk Banana 200 ML    | 2,700          | 72,900      | 14,580.00     | 16,305.00        | 6631117    |\n| Total Container (1)                    | 4,500          | 121,500     | 24,300.00     | 27,105.00        |            |\n| ALMARAI Flavored Milk Strawberry 200 M | 900            | 24,300      | 4,860.00      | 5,400.00         | ARKU       |\n| ALMARAI Flavored Milk Banana 200 ML    | 900            | 24,300      | 4,860.00      | 5,400.00         |            |\n| Total Container (2)                    | 4,500          | 121,500     | 24.300.00     | 27,105.00        |            |\n| ALMARAI Flavored Milk Strawberry 200 M | 900            | 24,300      | 4,860.00      | 5,400.00         | ARKU       |\n| ALMARAI Flavored Milk Banana 200 ML    | 900            | 24,300      | 4,860.00      | 5,400.00         |            |\n| Total Container (3)                    | 4,500          | 121,500     | 24,300.00     | 27,105.00        |            |\n| ALMARAI Flavored Milk Chocolate 200 ML | 900            | 24,300      | 4,860.00      | 5,400.00         | ARKU       |\n| ALMARAI Flavored Milk Strawberry 200 M | 2,700          | 72,900      | 14,580.00     | 16,305.00        | 8406091    |\n| ALMARAI Flavored Milk Banana 200 MI    | 900            | 24,300      | 4,860.00      | 5,400.00         |            |\n| Total Container (4)                    | 4,500          | 121,500     | 24,300.00     | 27,105.00        |            |\n| ALMARAI Flavored Milk Chocolate 200 MI | 900            | 24,300      | 4,860.00      | 5,400.00         | ARKU       |\n| ALMARAI Flavored Milk Banana 200 ML    | 900            | 24,300      | 4,860.00      | 5,400.00         |            |\n| Total Container (5)                    | 4,500          | 121,500     | 24,300.00     | 26,580.00        |            |\n| TOTAL                                  | 22,500         | 607,500.00  | 121,500.00    | 135,000.00       |            |\n| TOTAL                                  | 22,500 Cartons | 607,0 PCS.  | TOTAL N.W.    | 121,500.000 Kgs. |            |\n| TOTAL G.W.                             | 135,0000 Kgs.  |             |               |                  |            |\n\nINTERNATIONAL COMPANY FOR AGRO- INDUSTRIAL PROJECTS\n\nAlmarai\n\nBuilding B8 South, 7o° Street-First Sector - S Settlement- New Cairo- Cairo -Postal Code: 11865\n\nwww.beytiegypt.com\n\n",
          "textTemplate": "",
          "metadataSeparator": "\n",
          "type": "DOCUMENT",
          "hash": "SIT4TFQDY7sb01V8HGN7mWHPnoP1fnyEXtsZrBpBoyo="
        }
      },
      {
        "json": {
          "id_": "55d27711-d0df-4e8c-86e9-2ea0d414f265",
          "metadata": {},
          "excludedEmbedMetadataKeys": [],
          "excludedLlmMetadataKeys": [],
          "relationships": {},
          "text": "\nNO_CONTENT_HERE\n",
          "textTemplate": "",
          "metadataSeparator": "\n",
          "type": "DOCUMENT",
          "hash": "a2TCTeW6JOtSDUJeQXvc4WjUkWYGCjTIlTv07cePPOg="
        }
      },
      {
        "json": {
          "id_": "96488547-ff07-421c-8ce3-2edb6ae19e9f",
          "metadata": {},
          "excludedEmbedMetadataKeys": [],
          "excludedLlmMetadataKeys": [],
          "relationships": {},
          "text": "\n\nARKAS BILL OF LADING FOR COMBINED TRANSPORT SHIPMENT OR PORT TO PORT SHIPMENT\n\n# Shipper/Exporter (complete name and address)\n\nINTERNATIONAL COMPANY FOR AGRO- INDUSTRIAL PROJECTS (BEYTI)\n\nBUILDING 88, FIRST SECTOR, 5TH. SETTLEMENT, POSTAL CODE: 11865\n\nNEW CAIRO, EGYPT\n\n# Consignee (not negotiable unless consigned to order)\n\n3ANA TRADING COMPANY\n\nSARMADA WESTERN DISTRICT 2347, IDLIB, SYRIA\n\nPHONE NUMBER: +963938081992\n\nEMAIL: KADRIGROUP2@GMAIL.COM\n\n# Notify Party (complete name and address - carrier not responsible for failure to notify see clause 11(1))\n\n3ANA TRADING COMPANY\n\nSARMADA WESTERN DISTRICT 2347, IDLIB, SYRIA\n\nPHONE NUMBER: +963938081992\n\nEMAIL: KADRIGROUP2@GMAIL.COM\n\n# Carrier\n\nARKAS CONTAINER TRANSPORT S.A.\n\nManagement: Istanbul - Turkey\n\nTel: (90 212) 337 53 00\n\narkasline@arkasline.com.tr\n\n# Pre-carriage by\n\nRECEIVED by the Carrier from the Shipper in apparent good order and condition (unless otherwise stated herein). The goods or the container(s) or package(s) said to contain the cargo herein mentioned, to be transported to such place as agreed, authorized or permitted herein and subject to all the terms and conditions appearing on the front and reverse of this Bill of Lading to which the Merchant agrees by accepting this Bill of Lading. Any local privileges and customs notwithstanding. This particulars given below as stated by the shipper and the weight, measure, quantity, condition, contents and value of the Goods are unknown to the Carrier. The Carrier has had no possibility to check whether these particulars are correct. One original Bill of Lading duly endorsed must be surrendered by the Merchant to the Carrier in exchange for the goods or issuing a delivery order. In the witness whereof the number of original Bills of Lading stated below all of this tenor and date has been signed.\n\n# Particulars furnished by the Merchant\n\n| Container No. and Seal No. | Quantity and Kind of Packages       | Description of Goods                    | Measurement (M) | Gross Weight (KGS)   |\n| -------------------------- | ----------------------------------- | --------------------------------------- | --------------- | -------------------- |\n| 1RKU 8592822               | 5 /40'HC Containers Said to Contain | \\*\\*\\*\\*\\*\\* AS PER ATTACHED LIST\\*\\*\\* |                 | GW: 135,000.000 -KGS |\n| 'CNU 6631117               |                                     |                                         |                 |                      |\n| IRKU 8469870               |                                     |                                         |                 |                      |\n| 1RKU 8406091               |                                     |                                         |                 |                      |\n| RKU 4920501                |                                     |                                         |                 |                      |\n\n# Detention\n\nTOTAL NUMBER OF CONTAINERS OR OTHER PACKAGES OR UNITS: 5\n\nRECEIVED BY THE CARRIER\n\n# Freight &#x26; Charges\n\n| Revenue Tons | Rate | Per | Prepaid       | Collect |\n| ------------ | ---- | --- | ------------- | ------- |\n|              |      |     | EIGHT PREPAID |         |\n\n# Shipped on board\n\nEx. Rate Prepaid at ALEXANDRIA\n\nDate: TEOMAN A MAS03W26\n\nPlace and date of issue: ALEXANDRIA/EGYPT\n\nMOVEMENT: FCL / FCL\n\nNo. of original B(s) / L: THREE (03)\n\nSigned as Agents on behalf of the Carrier: ARKAS CONTAINER TRANSPORT S.A.\n\nFREE IN - FREE OUT by ARKAS EGYPT SAE\n\nFOR COMBINED TRANSPORT ONLY\n\n",
          "textTemplate": "",
          "metadataSeparator": "\n",
          "type": "DOCUMENT",
          "hash": "vjKPomHsPZ9s1ma7oxVIHJhWQ8aL6Ty6z01GZTIcT9U="
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Parse a PDF file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse a PDF file": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "82f9063f-7dd6-4b9f-a447-3c115b40759e",
  "meta": {
    "instanceId": "ba71ee6d2a064209c04a59ed31dd8ef360ef7a240f99d00a68749212f8b8f054"
  },
  "id": "dgUWdOAJ0ALrZQrf",
  "tags": []
}